*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lavagna {
  background-color: #666666;
  max-width: 985px;
  min-height: 600px;
  margin-inline: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
  column-gap: 2.5em;
}

.lavagna > div {
  width: 200px;
  max-height: 200px;
  min-height: 8em;
  font-size: x-large;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.yellow {
  background: linear-gradient(
    180deg,
    rgba(253, 253, 203, 1) 41%,
    rgba(193, 193, 167, 1) 84%
  );
}
.green {
  background: linear-gradient(
    180deg,
    rgba(204, 254, 206, 1) 41%,
    rgba(158, 181, 161, 1) 84%
  );
}

.purple {
  background: linear-gradient(
    180deg,
    rgba(199, 199, 245, 1) 41%,
    rgba(139, 140, 155, 1) 84%
  );
}

.left {
  transform: rotate(-6deg);
}

.right {
  transform: rotate(6deg);
}

.lavagna > div:hover {
  transform: rotate(0deg);
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    43px 27px 15px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 43px 27px 15px 2px rgba(0, 0, 0, 0);
}
