*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.lavagna {
  background-color: #666666;
  max-width: 920px;
  min-height: 600px;
  margin-inline: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
  column-gap: 1em;
}

.lavagna > div {
  width: 200px;
  height: 11em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow {
  background: linear-gradient(to bottom, #fdfdcb, #c1c1a7);
}
.green {
  background: linear-gradient(
    180deg,
    rgba(204, 254, 206, 1) 64%,
    rgba(158, 181, 161, 1) 100%
  );
}

.purple {
  background: linear-gradient(
    180deg,
    rgba(199, 199, 245, 1) 64%,
    rgba(139, 140, 155, 1) 100%
  );
}

.left {
  transform: rotateX(20 deg);
}
